---
import DownloadIcon from '../../assets/icons/Download.svg'
import YellowArrow from '../../assets/icons/yellow_arrow_download.svg'

import ModalContactaAsesor from '../modales/ModalContactaAsesor.astro'
const {descargableFicha, descargablePlan} = Astro.props;
---

<div class="bg-[url(/images/conoce_programa.jpg)]">
    <div class="container mx-auto py-20 text-white">
        <div class="w-full lg:w-[50%] mx-auto space-y-8 mb-20">
            <h2 class="text-center text-64 font-semibold ">Conoce Más Acerca del Programa</h2>
            <p class="text-20 text-center">Accede a la información esencial del programa. Descarga la ficha técnica y el plan de estudios para conocer su contenido, duración y requisitos.</p>
            <button class="call-to-actions-general block mx-auto uppercase" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalContactaAsesor" data-hs-overlay="#modalContactaAsesor">contacta a un asesor</button>
        </div>

        
        <button 
            class="accordion-ejes mb-8"
            onclick="toggleAccordion(event)"
        >
            <span class="flex items-center gap-2 py-4 text-20 uppercase">
            <span class="text-yellow-400"><YellowArrow/></span>
            plan de estudios
            </span>
            <span class="readmore-ejes" data-download={descargablePlan}><span class="hidden lg:block">Descargar</span>  <DownloadIcon/></span>
        </button>
        
        <button 
            class="accordion-ejes"
            onclick="toggleAccordion(event)"
        >
            <span class="flex items-center gap-2 py-4 text-20 uppercase">
            <span class="text-yellow-400"><YellowArrow/></span>
            ficha técnica
            </span>
            <span class="readmore-ejes" data-download={descargableFicha}><span class="hidden lg:block">Descargar</span> <DownloadIcon/></span>
        </button>
        

    </div>
</div>

<script>
    const downloadButtons = document.querySelectorAll(".readmore-ejes")

    downloadButtons.forEach(button => {
        button.addEventListener("click", () => {
            const url = button.getAttribute('data-download')
            window.open(url, "_blank", "noopener");
            // const link = document.createElement("a");
            // link.href = url;
            // link.download = "MyFile.pdf";    
            // link.click();
        })
    })
</script>
