<div class="container mx-auto mt-[8rem]">
    <h3 class="text-64 text-lightGrayGRG font-semibold text-center">Próximas fechas académicas</h3>
    <div class="w-[80%] lg:w-[50%] mx-auto mt-8">
        <p class="text-lightGrayGRG text-center text-20">No pierdas de vista las próximas fechas importantes. Aquí encontrarás todo lo que necesitas saber.</p>
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <div>
                <input type="checkbox" name="inscripciones" id="inscripcionesIn">
                <label for="inscripcionesIn">Inscripciones</label>
            </div>
            <div>
                <input type="checkbox" name="inscripciones" id="graduacionesIn">
                <label for="graduacionesIn">Graduaciones</label>
            </div>
            <div>
                <input type="checkbox" name="inscripciones" id="eventosIn">
                <label for="eventosIn">Eventos</label>
            </div>
        </div>
    </div>
    <div class="min-h-[400px] flex flex-col lg:flex-row mt-12">
        <div class="w-full lg:w-[45%] p-8 lg:border-r-1 border-lightGrayGRG">
            <div class="flex">
                <button id="left-btn"><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><title>left_line</title><g id="left_line" fill='none' fill-rule='evenodd'><path d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/><path fill='#007AFFFF' d='M8.293 12.707a1 1 0 0 1 0-1.414l5.657-5.657a1 1 0 1 1 1.414 1.414L10.414 12l4.95 4.95a1 1 0 0 1-1.414 1.414l-5.657-5.657Z'/></g></svg></button>
                <button id="right-btn"><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><title>right_line</title><g id="right_line" fill='none' fill-rule='evenodd'><path d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/><path fill='#007AFFFF' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95-4.95-4.95a1 1 0 0 1 1.414-1.414l5.657 5.657Z'/></g></svg></button>
            </div>
            <div id="carouselMini">
                <p class="text-3xl font-bold" id="titleMini">Generación 2023 - 2025</p>
                <p id="dateMini">date</p>
                <p id="descriptionMini">description</p>
                <a id="linkMini" href="http://" target="_blank" rel="noopener noreferrer">link</a>
            </div>
            <img id="carouselMini" src="" alt="">
        </div>
        <div class="w-full lg:w-[55%] p-8">
            <div  id="caleandar"></div>
        </div>
    </div>
</div>

<script src="../../src/scripts/calendar.js" defer></script>
<script src="../../src/scripts/eventosCalendar.js"  defer></script>

<script is:inline>
    const img = document.getElementById('carouselMini');
    const rightBtn = document.getElementById('right-btn');
    const leftBtn = document.getElementById('left-btn');

    // Images are from unsplash
    // let pictures = ['https://images.unsplash.com/photo-1537000092872-06bbf7b64f60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14d2fe1244b43a1841569da918066fc4&auto=format&fit=crop&w=1050&q=80', 'https://images.unsplash.com/photo-1537005081207-04f90e3ba640?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ffb71f2a2843e802e238c5ff8e4bbb8c&auto=format&fit=crop&w=764&q=80', 'https://images.unsplash.com/photo-1536873602512-8e88cc8398b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=60a351868d0839e686c8c5a286265f8d&auto=format&fit=crop&w=1050&q=80'];
    let itemsCarousel = [
        {
            title: "titulo",
            description: "desc1"
        },
        {
            title: "titulo2",
            description: "desc2"
        },
        {

        }
    ]
    let titleCarousel = img.querySelector("#titleMini")
    // console.log("🚀 ~ titleCarousel:", titleCarousel)
    let descCarousel = img.querySelector("#dateMini")
    // console.log("🚀 ~ descCarousel:", descCarousel)
    let position = 0;
    titleCarousel.innerText = itemsCarousel[position].title
            descCarousel.inneText = itemsCarousel[position].description

    const moveRight = () => {
        if (position >= itemsCarousel.length - 1) {
            position = 0
            titleCarousel.innerText = itemsCarousel[position].title
            descCarousel.innerText = itemsCarousel[position].description

            return;
        }
        titleCarousel.innerText = itemsCarousel[position+1].title
        descCarousel.innerText = itemsCarousel[position+1].description
        position++;
    }

    const moveLeft = () => {
        if (position < 1) {
            position = itemsCarousel.length - 1;
            img.src = itemsCarousel[position];
            return;
        }
        img.src = itemsCarousel[position - 1];
        position--;
    }

    rightBtn.addEventListener("click", moveRight);
    leftBtn.addEventListener("click", moveLeft);
</script>