---
import Calendario from '../../assets/icons/Calendario.svg'
import Materias from '../../assets/icons/Materias.svg'
import Modalidad from '../../assets/icons/Modalidad.svg'

---


<div class="container mx-auto bg-[#f7f7f7] py-12 mt-16 rounded-3xl">
    <h2 class="text-redGRG text-5xl text-center font-semibold mb-10">Información académica</h2>
    <div class="flex justify-around">
        <div class="flex gap-12">
            <span><Calendario/></span>
            <div>
                <p class="text-3xl font-semibold">Duración:</p>
                <p class="text-xl work">2-3 años</p>
            </div>
        </div>
        <div class="flex gap-12">
            <span><Materias/></span>
            <div>
                <p class="text-3xl font-semibold">Materias:</p>
                <p class="text-xl work">20 materia del programa</p>
            </div>
        </div>
        <div class="flex gap-12">
            <span><Modalidad/></span>
            <div>
                <p class="text-3xl font-semibold">Modalidad</p>
                <p class="text-xl work">Virtual con tutor</p>
            </div>
        </div>
    </div>
</div>