<div class="bg-white">
    <div class="container mx-auto">
        <p class="text-redGRG text-center text-xl">El futuro esa en tus manos</p>
        <h2 class="text-center text-5xl font-semibold">Nuestro Perfil de Egresado</h2>
        <div class="container mx-auto flex flex-col md:flex-row py-[2.5rem] lg:py-[4rem] gap-16">
            <div class="w-[100%] md:w-[45%] ">
                <!-- <h2 class="text-center text-2xl md:text-3xl xl:text-5xl font-semibold">Ejes institucionales de la Universidad GRG</h2> -->
                <div class="relative">
                    <img class="w-full" src="./mujer_u.png" alt="">
                </div>
            </div>
            <div class="space-y-6 flex-1">            
                <div class="flex gap-8 items-center">
                    <span class="egresado-number">1</span>
                    <p class="parrafo-u">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
                <div class="flex gap-8 items-center">
                    <span class="egresado-number">2</span>
                    <p class="parrafo-u">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
                <div class="flex gap-8 items-center">
                    <span class="egresado-number">3</span>
                    <p class="parrafo-u">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
                <div class="flex gap-8 items-center">
                    <span class="egresado-number">4</span>
                    <p class="parrafo-u">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
                <div class="flex gap-8 items-center">
                    <span class="egresado-number">5</span>
                    <p class="parrafo-u">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
            </div>
        </div>        
    </div>
</div>