---
import { pasosInscripcion  } from "../../data/pasosInscripcion.js"


---


<div class="container mx-auto flex justify-between my-16 gap-10">
    <div class="space-y-8 w-1/2">
        <p class="text-20 text-redGRG font-semibold">Proceso de Admisi贸n</p>
        <p class="font-semibold text-50">Proceso de <br> Inscripci贸n digital</p>
        <!-- <p class="font-semibold text-5xl">Inscripci贸n digital</p> -->
        <p class="text-20">Conoce los pasos necesarios para completar tu proceso de inscripci贸n de forma correcta y oportuna.</p>
    </div>
    <div class="w-1/2">
        <div class="splide" id="splideProcesoAdmision" role="group" aria-label="Splide Basic HTML Example">
            <ul class="splide__pagination"></ul>
            <div class="splide__track">                        
                <ul class="splide__list"> 
                    {
                        pasosInscripcion.map(item => (
                            <li class="splide__slide">
                                <div class="bg-white shadow-md flex flex-col md:flex-row overflow-hidden h-[14rem]">
                                    <img
                                        src={item.image}
                                        alt={`Imagen de ${item.title}`}
                                        class="lg:w-1/2 h-full object-cover object-left-top"
                                    />
                                    <div class="lg:w-1/2 p-6 flex flex-col justify-center text-left">
                                        <h3 class="text-20 font-semibold text-red-700">{item.title}</h3>
                                        <p class="text-gray-700 text-sm mt-2 overflow-hidden text-20 font-semibold">{item.description}</p>
                                    </div>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
   
    import "@splidejs/splide"
    import '@splidejs/splide/css';
    import Splide from "@splidejs/splide";
    var elms = document.getElementsByClassName( 'splide' );

     for ( var i = 0; i < elms.length; i++ ) {
         new Splide( elms[ i ],{
             perPage: 1,
             perMove: 1,
         } ).mount();
     }
//      document.addEventListener('astro:page-load', () => {
//     document.querySelectorAll('.splide').forEach((el) => {
//       new Splide(el, { perPage: 1, perMove: 1 }).mount();
//     });
//   });
</script>
