---

// import Ventaja1 from '@/assets/icons/ventaja_1.svg'
const ventajas = [
    {
        "description": "Programa diseñado específicamente para la industria restaurantera.",
        "iconUrl" : "ventaja_1.svg"
    },
    {
        "description": "Integración de proyectos reales del Grupo Restaurantero Gigante.",
        "iconUrl" : "ventaja_1.svg"
    },
    {
        "description": "Acompañamiento digital con modelos de inteligencia artificial.",
        "iconUrl" : "ventaja_1.svg"
    },
    {
        "description": "Reconocimiento institucional avalado por la Universidad GRG y Academia Global.",
        "iconUrl" : "ventaja_1.svg"
    },
    {
        "description": "Reconocimiento institucional avalado por la Universidad GRG y Academia Global.",
        "iconUrl" : "ventaja_1.svg"
    },

]
---

<div class="bg-black">
    <div class="container mx-auto py-[89px]">
        <p class="text-center text-white text-5xl font-semibold mb-[89px]">Ventajas de formar <br> parte de este programa</p>
        <div class="flex flex-wrap justify-center text-white gap-[80px]">
            {
                ventajas.map(ventaja => (
                    <div class="flex flex-col w-full lg:w-1/4">
                        <span class="grid place-content-center">
                            <img src={`/icons/${ventaja.iconUrl}`} alt="">
                        </span>
                        <p class="text-center">{ventaja.description}</p>
                    </div>
                ))
            }
        </div>
        
    </div>
</div>