---
import YoutubeIcon from '../../assets/icons/redes/youtube.svg'
import FacebookIcon from '../../assets/icons/redes/facebook.svg'
import XIcon from '../../assets/icons/redes/twitter.svg'
import InstagramIcon from '../../assets/icons/redes/instagram.svg'
import LinkedinIcon from '../../assets/icons/redes/linkedin.svg'

---



<footer class="w-full bg-redGRG text-white py-16">
    <div class="container mx-auto">
        <div class="flex flex-col gap-4 lg:flex-row justify-around items-center mb-6">
            <img src="/licenciaturas/grg/images/logo_blanco.png" alt="logo_grg">
            <h2 class="uppercase font-bold text-3xl lg:text-[5rem] xl:text-[7rem]">universidad grg</h2>
        </div>
        <hr>
        <div class="flex flex-col xl:flex-row xl:justify-between gap-6 mb-6">
            <div class="grid grid-cols-2 lg:grid-cols-3 xl:w-3/4 gap-6 my-8">
                <div class="space-y-6">
                    <p class="uppercase font-semibold">contacto</p>
                    <ul class="flex flex-col gap-2">
                        <li>6228248273</li>
                        <li>7369287323</li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <p class="uppercase font-semibold">nuestras marcas</p>
                    <ul class="flex flex-col gap-2">
                        <li>Toks</li>
                        <li>Beer Factory</li>
                        <li>El Farolito</li>
                        <li>Panda Express</li>
                        <li>Shake Shack</li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <p class="uppercase font-semibold">enlaces útiles</p>
                    <ul class="flex flex-col gap-2">
                        <li><a href="/licenciaturas/grg/escuelas" rel="noopener noreferrer">Oferta educativa</a></li>
                        <li><a href="/licenciaturas/grg/comunidadEscolar" rel="noopener noreferrer">Comunidad académica</a></li>
                        <li><a href="/licenciaturas/grg/" rel="noopener noreferrer">Conócenos</a></li>
                        <li><a href="/licenciaturas/grg/comunidadEscolar#calendarioCE" rel="noopener noreferrer">Calendario académico</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="grid place-content-center space-y-6 xl:w-1/4 xl:place-content-start xl:my-8">
                <p class="uppercase font-semibold text-center xl:text-start">nuestras redes</p>
                <p class=" text-center xl:text-start">Siguenos en:</p>
                
                <div class="flex gap-6 items-center">
                    <span><a href="javascript:void(0)"  rel="noopener noreferrer"><YoutubeIcon/></a></span>
                    <span><a href="javascript:void(0)"  rel="noopener noreferrer"><FacebookIcon/></a></span>
                    <span><a href="javascript:void(0)"  rel="noopener noreferrer"><XIcon/></a></span>
                    <span><a href="javascript:void(0)"  rel="noopener noreferrer"><InstagramIcon/></a></span>
                    <span><a href="javascript:void(0)"  rel="noopener noreferrer"><LinkedinIcon/></a></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="space-y-6">
            <p class="text-center mt-6">© 2025 Universidad GRG. Todos los derechos reservados.</p>
            <div class="flex justify-around">
                <a href="https://academiaglobal.mx/resources/assets/documentosFalsos/ReglamentoEscolar.pdf" target="_blank">Aviso de privacidad</a>
                <a href="https://academiaglobal.mx/resources/assets/documentosFalsos/ReglamentoEscolar.pdf">Términos y condiciones</a>
            </div>
        </div>
    </div>
</footer>