---

    const {width} = Astro.props
---
<div class="container mx-auto my-20">
    <div class="space-y-4 mb-10">
        <h2 class="text-center text-2xl md-text-3xl xl:text-5xl text-redGRG font-semibold">Accede al Pre-Registro</h2>
        <h2 class="text-center text-2xl md-text-3xl xl:text-3xl text-lightGrayGRG font-bold">Un paso hacia tu formación académica.</h2>
    </div>

    <div class=`${width} mx-auto`>
        <form class="space-y-6">
            <div class="relative">
                <input type="text" id="nombre" class="floating-input  peer" placeholder=" " />
                <label for="nombre" class="floating-label">Nombre completo</label>
            </div>
            <div class="relative">
                <input type="text" id="correo" class="floating-input  peer" placeholder=" " />
                <label for="correo" class="floating-label">Correo electrónico</label>
            </div>
            <div class="relative">
                <input type="tel" id="telefono" class="floating-input  peer" placeholder=" " />
                <label for="telefono" class="floating-label">Teléfono</label>
            </div>
            <div class="relative">
                <label for="carrera" class="floating-label">Carrera de interés</label>
                <select name="" id="carrera" class="floating-input  peer">
                    <option value="">-- Selecciona una opción --</option>
                    <option value="">Diplomado en Inteligencia Artificial Aplicada al Negocio Restaurantero</option>
                    <option value="">Certificación en Calidad e Innovación Gastronómica con Tecnología</option>
                    <option value="">Diplomado en Calidad de Atención y Experiencias Memorables</option>
                    <option value="">Certificación en Bienestar Integral y Productividad Laboral</option>
                    <option value="">Maestría en Liderazgo Estratégico e Innovación Empresarial</option>
                </select>
                <!-- <input type="text" id="carrera" class="floating-input  peer" placeholder=" " />
                <label for="carrera" class="floating-label">Teléfono</label> -->
            </div>
            <div class="relative">
                <textarea id="mensaje" class="floating-input  peer" rows="10"></textarea>
                <label for="mensaje" class="floating-label">Mensaje</label>
            </div>
            <div class="w-full flex justify-center">
                <button class="call-to-actions-secondary uppercase">enviar mensaje</button>

            </div>

        </form>
    </div>
    
</div>
