---
import FixedTopBar from "./FixedTopBar.astro";
import Arrow from "../../../public/images/arrow.svg";
import PlayCircle from "../../assets/icons/Play-circle.svg"
const { title, description, imgBackground } = Astro.props;
const claseImagen = `bg-[url(${imgBackground})]`
---

<section class=`text-white bg-cover h-svh relative bg-center`style=`background-image: url('${imgBackground}');`>
    <FixedTopBar/>
    <div class="container mx-auto">
    <!-- <Inscripciones client:load/> -->
        <div class="w-[80%] lg:w-[70%]  flex flex-col gap-[32px] pb-8 md:pb-[5rem] mt-8 md:mt-0 absolute bottom-[2rem]">
        
            <h1 class="text-50  leading-[120%] font-semibold">{title}</h1>
            <p class="work font-light text-23">{description}</p>
            <slot/>
            
        </div>
        <Arrow class="go-to-bottom absolute bottom-[5rem] right-6 cursor-pointer"></Arrow>
    </div>

</section>