---
import { getCollection } from 'astro:content'
import IconoRojoBlanco from '../../../public/images/icono_blanco_rojo.svg'
import Acceder from "../../assets/icons/acceder.svg"
import SidebarResponsive from '../../assets/icons/menu_sidebar_responsive.svg'
const escuelas = await getCollection('escuelas')

// console.log(escuelas)
---

<div class="flex justify-between items-center">
    <IconoRojoBlanco/>
    <div class="flex items-center gap-4 lg:hidden cursor-pointer" id="btnNavBarResponsive">
        <span>Menú</span>
        <SidebarResponsive/>
    </div>
    <nav class="hidden lg:block">
        <ul class="flex gap-4 text-white py-[2.5rem]">
            <li class="topbar-link">
                <a href="/licenciaturas/grg/">Inicio</a>                
            </li>
            <li class="topbar-link submenu-dropdown">Comunidad Escolar
                <div class="bg-grayExtra flex flex-col text-black absolute -left-[1rem] top-[4rem] w-max p-8 space-y-4 hidden dropdown z-100">
                    <a href="/licenciaturas/grg/comunidadEscolar#noticiasCE">Boletín Educativo</a>
                    <a href="/licenciaturas/grg/comunidadEscolar#bolsa">Bolsa de Trabajo</a>
                    <a href="/licenciaturas/grg/comunidadEscolar#docentes">Nuestros Docentes</a>
                    <a href="/licenciaturas/grg/comunidadEscolar#calendarioCE">Calendario Académico</a>
                    <a href="/licenciaturas/grg/comunidadEscolar#beneficios">Becas y Otros Beneficios</a>
                </div>
            </li>
            <li class="topbar-link submenu-dropdown">
                Escuelas
                <div class="bg-grayExtra flex flex-col text-black absolute -left-[1rem] top-[4rem] w-[25rem] max-w-[25rem] p-8 space-y-4 hidden dropdown z-100">
                    {
                        escuelas.map(({data:escuela},index) => (
                            <a href={`/licenciaturas/grg/escuelas#${escuela.idHTML}`}>{`${index+1} - `}{escuela.title}</a>
                        ))
                    }
                    <!-- <a href="javascript:void(0);">1 - De Tecnología y Ciencia de Datos</a>
                    <a href="javascript:void(0);">2 -Alimentos</a>
                    <a href="javascript:void(0);">3 - Servicio</a>
                    <a href="javascript:void(0);">4 - Desarrollo</a>
                    <a href="javascript:void(0);">5 - Liderazgo</a> -->
                </div>
            </li>
            <li class="topbar-link submenu-dropdown">Aspirantes
                 <div class="bg-grayExtra flex flex-col text-black absolute -left-[1rem] top-[4rem] w-max p-8 space-y-4 hidden dropdown z-100">
                    <a href="/licenciaturas/grg/aspirantes">Convocatorias vigentes</a>
                    <a href="/licenciaturas/grg/aspirantes">Pasos del proceso de inscripción</a>
                    <a href="/licenciaturas/grg/aspirantes">Requisitos y documentación</a>
                    <a href="/licenciaturas/grg/aspirantes">Preguntas frecuentes</a>
                    <a href="/licenciaturas/grg/aspirantes">Registrate Aquí</a>
                </div>  
            </li>
            <li class="topbar-link" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalContactaAsesor" data-hs-overlay="#modalContactaAsesor">Contacto</li>
            <li class="topbar-link">
                <a class="flex gap-2 items-center" href="https://campusflexible.academiaglobal.mx/#/" target="_blank">Acceder <Acceder/></a>   
            </li>
        </ul>
    </nav>
</div>





<script>
    document.addEventListener('DOMContentLoaded', () => {
        
    })
</script>