:root{
  --main-color: red;
}

.cld-main{
  width: 100%;
  font-size: 1.5rem;
}
.cld-main a{
  color: #333;
  font-weight: bold;
}
  .cld-datetime{
    position: relative;
    width: 100%;
    /* min-width: 100px; */
    /* max-width: 300px; */
    margin: auto;
    overflow: hidden;
    padding: 1rem 1rem;
    background-color: var(--main-color);
    color: #fff;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    /* margin-top: 2px; */
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}

.cld-labels{
  margin-bottom: 0px;
  background-color: #ebebeb;
}
.cld-days{
  background-color: #f2f2f2;

}
  .cld-label, .cld-day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
    padding-bottom: 1rem;
  }
  /* .cld-day.today .cld-number{
    display: inline-block;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    background: #666;
    color: #fff;
    line-height: 2rem;
  } */
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      position: relative;
      margin: 5px;
      /* padding: 5px; */
    }
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 30px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
      }
      .cld-number.eventday{
        display: inline-block;
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        border: 1px solid #999;
        line-height: 2.3rem;
        background-color: var(--main-color);
        color: #fff;  
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #888;
      }


      


@media (max-width: 991.98px) {
  .cld-label, .cld-day{
      padding-bottom: 0rem;
  }
}