@import "tailwindcss";

@theme{
    --color-redGRG: #B8203A;
}


@layer utilities {
    .container {
        @apply  px-4;
    }
}

body{
    font-family: "Raleway", sans-serif;
}

.hero-container{
    background: url('./images/hero.png') center no-repeat;
    background-size: cover;
    background-position: left;
}
.topbar-link{
    @apply border-1 border-transparent p-3 hover:border-b-redGRG xl:text-lg;
}
.claseNormal{
    @apply text-red-500;
}

.call-to-actions-general{
    @apply bg-redGRG text-white uppercase px-[54px] py-[12px] w-fit font-semibold;
}

.work{
    font-family: "Work Sans", sans-serif;
}

.titulo-u{
    @apply text-2xl lg:text-3xl font-semibold;
}

.parrafo-u{
    @apply lg:text-2xl;
}