@import "tailwindcss";

@theme{
    --color-redGRG: #B8203A;
}


@layer utilities {
    .container {
        @apply  px-4;
    }
}

body{
    font-family: "Raleway", sans-serif;
}

.claseNormal{
    @apply text-red-500;
}

.work{
    font-family: "Work Sans", sans-serif;
}