---
import "@/assets/css/main.css"
import '@/assets/css/calendario.css'


import Layout from '@/layouts/Layout.astro';
import HeroCE from '@/components/comunidadEscolar/HeroCE.astro';
import NavCE from '@/components/comunidadEscolar/NavCE.astro';
import NoticiasCE from '@/components/comunidadEscolar/NoticiasCE.astro';
import SectionCarousel from '@/components/SectionCarousel.astro';
import BolsaTrabajo from "@/components/comunidadEscolar/BolsaTrabajo.astro";
import Footer from "@/components/generics/Footer.astro";
import Foros from "@/components/comunidadEscolar/Foros.astro";
import ProgramasOfertas from "@/components/comunidadEscolar/ProgramasOfertas.astro";


const {titulo, imagenHero} = Astro.props;

---
<Layout>
    <HeroCE/>
    <NavCE/>
    <NoticiasCE/>
    <ProgramasOfertas/>
    <Foros/>
    <BolsaTrabajo/>
    
        <!-- <button id="btncalendar">button</button> -->
    <!-- <div class="container mx-auto">
        <h1 class="text-red-500 text-3xl" >hola</h1>
        <div class="max-w-[500px] w-[500px] h-[300px] border-2 border-red-500">
            <div  id="caleandar"></div>
        </div>
    </div> -->
    <SectionCarousel titleCarousel="Historias de éxito"/>
    <Footer/>
</Layout>

<script src="../../src/scripts/calendar.js" defer></script>
<script src="../../src/scripts/eventosCalendar.js"  defer></script>
