<div class="container mx-auto">
    <div class="flex flex-col lg:flex-row gap-8 mt-12">
        <div class="w-full lg:w-2/5 bg-redGRG text-white rounded-2xl px-[3rem] py-[2rem] space-y-8">
            <h3 class="text-45 font-semibold">Sesiones Informativas</h3>
            <p class="text-20">Asiste a nuestras sesiones informativas y conoce todos los detalles sobre programas, requisitos y procesos de inscripción.</p>
            <p class="text-23 font-semibold border-b-1 border-white inline-block">!Registrate Ahora!</p>
        </div>
        <div class="w-full lg:w-3/5 bg-[url(/images/aspirantes_webinar.jpg)] bg-center bg-cover text-white rounded-2xl px-[3rem] py-[2rem] space-y-2 text-right flex flex-col justify-end">
            <div class="">
                <h3 class="text-45 font-semibold">Webinars</h3>
                <p class="text-20">Participa en nuestro webinar y obtén información clave de la mano de expertos. Aprende, resuelve tus dudas y lleva tu conocimiento al siguiente nivel.</p>
                <p class="text-23 font-semibold border-b-1 border-white inline-block">Agregar a mi calendario!</p>
            </div>
        </div>
    </div>
</div>