---

---



<footer class="w-full bg-redGRG text-white py-16">
    <div class="container mx-auto">
        <div class="flex flex-col gap-4 lg:flex-row justify-around items-center mb-6">
            <img src="./images/logo_blanco.png" alt="logo_grg">
            <h2 class="uppercase font-bold text-3xl lg:text-[5rem] xl:text-[7rem]">universidad grg</h2>
        </div>
        <hr>
        <div class="flex flex-col xl:flex-row xl:justify-between gap-6 mb-6">
            <div class="grid grid-cols-2 lg:grid-cols-3 xl:w-3/4 gap-6 my-8">
                <div class="space-y-6">
                    <p class="uppercase font-semibold">contacto</p>
                    <ul class="flex flex-col gap-2">
                        <li>telefono1</li>
                        <li>telefono2</li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <p class="uppercase font-semibold">enlaces útiles</p>
                    <ul class="flex flex-col gap-2">
                        <li>Oferta educativa</li>
                        <li>Comunidad académica</li>
                        <li>Conóccenos</li>
                        <li>Calendario académico</li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <p class="uppercase font-semibold">nuestras marcas</p>
                    <ul class="flex flex-col gap-2">
                        <li>Toks</li>
                        <li>Beer Factory</li>
                        <li>El Farolito</li>
                        <li>Panda Express</li>
                        <li>Shake Shack</li>
                    </ul>
                </div>
            </div>
            <div class="grid place-content-center space-y-6 xl:w-1/4 xl:place-content-start xl:my-8">
                <p class="uppercase font-semibold text-center xl:text-start">nuestras redes</p>
                <p class=" text-center xl:text-start">Siguenos en:</p>
                <div class="flex gap-6">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="space-y-6">
            <p class="text-center mt-6">© 2025 Universidad GRG. Todos los derechos reservados.</p>
            <div class="flex justify-around">
                <a href="javascript:void(0);">Aviso de privacidad</a>
                <a href="javascript:void(0);">Términos y condiciones</a>
            </div>
        </div>
    </div>
</footer>