---
import Arrow from "../../public/images/arrow.svg";
import PlayCircle from "@/assets/icons/Play-circle.svg"
import FixedTopBar from "./generics/FixedTopBar.astro";

const srcVideo = "/videos/song2.mp4"; // put your file in `public/videos/`
---

<section class="hero-container text-white h-svh relative" >
    <FixedTopBar/>
    <div class="container mx-auto">
        
        <div class="w-[85%] lg:w-[75%]  flex flex-col gap-[32px] pb-[5rem] md:pb-[8rem] absolute bottom-[2rem]">
        
            <h1 class="text-50 leading-[120%] font-semibold">Desarrollamos el máximo potencial de nuestros colaboradores</h1>
            <p class="work font-light text-23">La misión de la Universidad GRG es ser el centro de generación de competencias de los colaboradores, así como el eje de innovación y soluciones para los continuos retos del Grupo.</p>
            <button class="call-to-actions-general xl:text-xl flex items-center gap-4" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-basic-modal" data-hs-overlay="#hs-basic-modal">¿Quiénes somos? <PlayCircle/></button>
        </div>
        <Arrow class="go-to-bottom absolute bottom-[5rem] right-6 cursor-pointer"></Arrow>
    </div>

</section>

