---
import SectionModeloEducativo from "./SectionModeloEducativo.astro";
import Footer from "./generics/Footer.astro";
import Hero from "./Hero.astro";
import SectionConceptos from "./SectionConceptos.astro";
import SectionCarousel from "./SectionCarousel.astro";
import QuienesSomos from "./QuienesSomos.astro";
import OfertaEducativa from "./OfertaEducativa.astro";
import Principios from "./Principios.astro";
import FormContacto from "./generics/FormContacto.astro";
import FixedTopBar from "./generics/FixedTopBar.astro";

const personas = [
  {
    name: "Nombre y Titulo de la persona Primero",
    image: "https://academiaglobal.mx/resources/assets/img/test/56bbc6b86bb2611fbbd8c89b1a1c14bb5be9d380.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu. Elementum felis magna pretium in tincidunt. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis arcu.",
  },
  {
    name: "Nombre y Titulo de la persona",
    image: "https://academiaglobal.mx/resources/assets/img/test/56bbc6b86bb2611fbbd8c89b1a1c14bb5be9d380.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu. Elementum felis magna pretium in tincidunt. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis arcu.",
  },
  {
    name: "Nombre y Titulo de la persona",
    image: "https://academiaglobal.mx/resources/assets/img/test/56bbc6b86bb2611fbbd8c89b1a1c14bb5be9d380.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu. Elementum felis magna pretium in tincidunt. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis arcu.",
  },
  {
    name: "Nombre y Titulo de la persona",
    image: "https://academiaglobal.mx/resources/assets/img/test/56bbc6b86bb2611fbbd8c89b1a1c14bb5be9d380.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu. Elementum felis magna pretium in tincidunt. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis arcu.",
  },
  {
    name: "Nombre y Titulo de la persona Ultimo",
    image: "https://academiaglobal.mx/resources/assets/img/test/56bbc6b86bb2611fbbd8c89b1a1c14bb5be9d380.jpg",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu. Elementum felis magna pretium in tincidunt. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis arcu.",
  },
];

---

<div>
    <Hero/>
    <!-- <SectionModeloEducativo/> -->
    <QuienesSomos/>
    <SectionConceptos/>
    <Principios/>
    <OfertaEducativa/>
    <FormContacto/>
    {personas.length > 0 && <SectionCarousel titleCarousel="Quienes recomiendan" items={personas} />}
    <Footer/>
    
</div>

