---
import Topbar from "./Topbar.astro";
import SectionModeloEducativo from "./SectionModeloEducativo.astro";

---

<div class="container mx-auto">
    <section class="bg-black text-white">
        <Topbar/>
        <div class="w-[100%] lg:w-[55%] font-bold flex flex-col gap-[32px]">

            <h1 class="text-[1.8rem] lg:text-[55px]">Desarrollamos el máximo potencial de nuestros colaboradores</h1>
            <p>La misión de la Universidad GRG es ser el centro de generación de competencias de los colaboradores, así como el eje de innovación y soluciones para los continuos retos del Grupo.</p>
            <button class="bg-redGRG text-white uppercase px-[54px] py-[12px] w-fit">conone más</button>
        </div>

    </section>
    <SectionModeloEducativo/>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
</div>