---
import Footer from "./generics/Footer.astro";
import SectionConceptos from "./SectionConceptos.astro";
import SectionCarousel from "./SectionCarousel.astro";
import QuienesSomos from "./QuienesSomos.astro";
import OfertaEducativa from "./OfertaEducativa.astro";
import Principios from "./Principios.astro";
import FormContacto from "./generics/FormContacto.astro";
import HeroFullHeight from "./generics/HeroFullHeight.astro";
import PlayCircle from "@/assets/icons/Play-circle.svg"

import {personas} from "@/data/personas.js"
import ModalQuienesSomos from "./modales/ModalQuienesSomos.astro";

---

<div>
    <!-- <Hero/> -->
    <HeroFullHeight
      title="Desarrollamos el máximo potencial de nuestros colaboradores"
      description="La misión de la Universidad GRG es ser el centro de generación de competencias de los colaboradores, así como el eje de innovación y soluciones para los continuos retos del Grupo."
      imgBackground="/images/hero_home.jpg">
      <button class="call-to-actions-general xl:text-xl flex items-center gap-4" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-basic-modal" data-hs-overlay="#hs-basic-modal">¿Quiénes somos? <PlayCircle/></button>
    </HeroFullHeight>
    <!-- <SectionModeloEducativo/> -->
    <QuienesSomos/>
    <SectionConceptos/>
    <Principios/>
    <OfertaEducativa/>
    <FormContacto parrafo={true}/>
    {personas.length > 0 && <SectionCarousel titleCarousel="Quienes recomiendan" items={personas} />}
    <Footer/>
    <ModalQuienesSomos/>
    
</div>


<!-- <script>
  document.addEventListener('close.hs.overlay', function (event) {
    // Check if the closed modal is the one you are interested in
    if (event.target.id === 'hs-basic-modal') {
        const video = event.target?.querySelector('video')

        if(video){
          if(video.paused){
            video.play()
            return
          }
          video.pause()
        }
        // const video = event.target.querySelector()
        console.log('The modal with ID "your-modal-id" has been closed.');
        // Perform actions after the modal closes, e.g., clearing form data,
        // updating UI, etc.
    }
});
</script> -->

