---
import SectionModeloEducativo from "./SectionModeloEducativo.astro";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import SectionConceptos from "./SectionConceptos.astro";

---

<div>
    <Hero/>
    <SectionModeloEducativo/>
    <SectionConceptos/>
    <section>

    </section>
    <Footer/>
</div>