---
import Topbar from "./Topbar.astro";


---

<div>
    <section class="bg-black text-white">
        <div class="container mx-auto">
            <Topbar/>
            <div class="w-[85%] lg:w-[55%] font-bold flex flex-col gap-[32px] pb-[5rem] md:pb-[8rem] xl:pb-[15rem]">
            
                <h1 class="text-[1.8rem] md:text-[2.2rem] xl:text-[55px] xl:pt-[14rem]">Desarrollamos el máximo potencial de nuestros colaboradores</h1>
                <p class="work font-light">La misión de la Universidad GRG es ser el centro de generación de competencias de los colaboradores, así como el eje de innovación y soluciones para los continuos retos del Grupo.</p>
                <button class="call-to-actions-general">conócenos</button>
            </div>
        </div>

    </section>
    <section></section>
    <section></section>
    <section class="bg-[#E8E8E8]">
        <div class="container mx-auto flex flex-col md:flex-row py-[2.5rem] lg:py-[9rem] gap-12">
            <div class="w-[100%] md:w-[40%] ">
                <div class="relative">
                    <img class="w-full" src="./mujer_u.png" alt="">
                    <a href="javascript:void(0);" class="call-to-actions-general hidden lg:block absolute left-[50%] transform-[translate(-50%,-50%)]">contáctanos</a>
                </div>
            </div>
            <div class="space-y-8 flex-1">
                <p class="titulo-u">
                    En la Universidad GRG, declaramos tres conceptos fundamentales relacionados al servicio a nuestros clientes.
                </p>
                <div>
                    <p class="titulo-u">Calidad.</p>
                    <p class="parrafo-u">
                        Es superar las expectativas de nuestros clientes.
                    </p>
                </div>
                <div>
                    <p class="titulo-u">Atención.</p>
                    <p class="parrafo-u">
                        Estar siempre atento a las necesidades de nuestros clientes, nuestro objetivo es brindarles la mejor experiencia cada vez que nos favorece con su presencia.
                    </p>
                </div>
                <div>
                    <p class="titulo-u">Servicio.</p>
                    <p class="parrafo-u">
                        Es brindar a nuestros clientes nuestra mejor actitud, amabilidad, agilidad, y calidad.
                    </p>
                </div>
            </div>
        </div>        
    </section>
    <section></section>
    <section></section>
</div>