---

---
<div class="container mx-auto">
    <div class="flex flex-col lg:flex-row rounded-2xl overflow-hidden my-20 h-auto ">
        <div class="w-full lg:w-[60%] order-2 lg:order-1">
            <img src="./images/oficina.png" class="w-full h-full object-cover" alt="">
        </div>
        <div class="w-full lg:w-[40%] order-1 lg:order-2 bg-redGRG text-white p-8 space-y-6">
            <h3 class="text-45">Oferta Educativa</h3>
            <p class="text-20">Descubre lo que nuestra universidad ofrece y accede a información actualizada de programas académicos. Desde aquí, ingresa al Campus Virtual para gestionar clases, recursos y actividades. Tu espacio de aprendizaje, 
siempre disponible.</p>
            <a class="text-23 border-b-2 border-white" href="javascript:void(0)">¡Conoce Nuestras Escuelas!</a>
        </div>        
    </div>
</div>