---

---
<div class="container mx-auto">
    <div class="flex rounded-2xl overflow-hidden my-20 h-[22rem]">
        <div class="w-[60%]">
            <img src="./images/oficina.png" class="w-full h-full object-cover" alt="">
        </div>
        <div class="w-[40%] bg-redGRG text-white py-16 px-10 space-y-6">
            <h3 class="text-5xl">Oferta Educativa</h3>
            <p class="text-xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, nostrum?</p>
            <a class="text-2xl border-b-2 border-white" href="javascript:void(0)">Inscribete ahora!</a>
        </div>        
    </div>
</div>