---
import GrgRojo from '../../public/images/grg_rojo.svg'
import FormPreregistro from './generics/FormPreregistro.astro'
import ModalPreRegistro from './modales/ModalPreRegistro.astro'
---

<div class="container mx-auto">
    <div class="flex flex-col lg:flex-row gap-16 my-20">
        <div class="w-full lg:w-[50%] order-2 lg:order-1">
            <img src="./images/quienes_somos.png" alt="quienes_somos" class="w-full h-full object-cover">
        </div>
        <div class="flex-1 order-1 lg:order-2">
            <GrgRojo class="mb-6" />
            <p class="text-redGRG text-20 font-medium">Conócenos</p>
            <h2 class="text-50 mb-8 font-semibold">La Universidad GRG</h2>
            <p class="text-20 mb-8 leading-[180%]">Con el propósito de que la Universidad GRG logre un verdadero impacto en el desarrollo profesional de nuestro equipo, se han creado Escuelas Especializadas que representan las prioridades del Grupo, permitiendo así un mejor enfoque y organización de los programas que se impartirán en cada una de las Escuelas Especializadas.</p>
            <div class="flex flex-col lg:flex-row gap-6">
                <button class="call-to-actions-general w-full! lg:w-fit uppercase" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalRegistrate" data-hs-overlay="#modalRegistrate">registrate ahora</button>
                <div class="call-to-actions-secondary w-full! lg:w-fit uppercase text-center">contacto</div>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row rounded-2xl overflow-hidden mb-20 h-auto ">
        <div class="w-full lg:w-[40%] bg-redGRG text-white px-8 py-8 space-y-6">
            <h3 class="text-45 font-semibold text-center lg:text-start">Estudiantes</h3>
            <p class="text-20">Descubre lo que nuestra universidad ofrece y accede a información actualizada de programas académicos. Ingresa al Campus Virtual para gestionar clases, recursos y actividades. Tu espacio de aprendizaje, siempre disponible.</p>
            <a class="text-23 border-b-2 border-white" href="javascript:void(0)">Accede a tu Campus Digital</a>
        </div>
        <div class="w-full lg:w-[60%]">
            <img src="./images/estudiantes.png" class="w-full h-full object-cover" alt="">
        </div>
    </div>
</div>




<ModalPreRegistro/>