<section class="bg-[url(/images/ejes.png)] bg-cover bg-center">
    <div class="container mx-auto flex flex-col md:flex-row py-[2.5rem] lg:py-[4rem] gap-16 text-white">
        <div class="w-[100%] md:w-[45%] order-1">
            <h2 class="text-center text-50 font-semibold">Ejes institucionales de la Universidad GRG</h2>
            <div class="relative">
                <img class="w-full" src="./mujer_u.png" alt="">
                <a href="javascript:void(0);" class="call-to-actions-general uppercase hidden lg:block absolute left-[50%] transform-[translate(-50%,-50%)]" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalContactaAsesor" data-hs-overlay="#modalContactaAsesor">contáctanos</a>
            </div>
        </div>
        <div class="space-y-4 lg:space-y-8 flex-1 order-2">            
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
                <span class="text-120 font-semibold">1</span>
                <p class="parrafo-u text-20">
                    Fortalecer una cultura organizacional con pensamiento tecnológico.
                </p>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
                <span class="text-120 font-semibold">2</span>
                <p class="parrafo-u text-20">
                    Desarrollar habilidades de digitalización de nuestros colaboradores.
                </p>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
                <span class="text-120 font-semibold">3</span>
                <p class="parrafo-u text-20">
                    Generar soluciones tecnológicas a los principales retos de cada una de las áreas y unidades del negocio con enfoque en el cliente.
                </p>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
                <span class="text-120 font-semibold">4</span>
                <p class="parrafo-u text-20">
                    Impulsar un nuevo modelo de liderazgo en el Grupo que nos permita adaptarnos continuamente a nuevos contextos y entornos.
                </p>
            </div>
        </div>
    </div>        
</section>