---
// segunda sección
---
<section class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-3 px-4 py-8 md:auto-rows-fr">

  <!-- ¿Quiénes somos? (col 1-2, row 1) -->
  <div class="relative h-[390px] md:h-full max-h-[380px] overflow-hidden bg-black text-white px-4 py-8 md:col-start-1 md:col-span-2 md:row-start-1">
    <h2 class="relative text-xl font-bold z-1">¿Quiénes Somos?:<br />Modelo educativo</h2>
    <p class="relative mt-2 text-sm z-1">La Universidad GRG es el motor intelectual, el brazo educativo, de formación y capacitación del Grupo, que, a través del conocimiento de nuestro negocio, genera soluciones para todas nuestras marcas y potencia la densidad del talento de nuestra empresa.</p>
    <button class="relative mt-4 inline-flex items-center text-white underline z-1">
      ▶ Reproduce Video de Bienvenida
    </button>
    <img src="/images/quienes_somos.jpg" alt="" class="absolute inset-0 h-full w-full object-cover opacity-70" />
  </div>

  <div class="h-[390px] md:h-full bg-redGRG text-white px-4 py-8 md:col-start-3 md:row-start-1">
    <h3 class="text-xl font-bold">¿Cómo surge la universidad?</h3>
    <p class="text-sm mt-2">
      La Universidad GRG es una universidad corporativa de última generación, que, a través de modelos de inteligencia artificial y ciencia de datos al servicio de nuestros principios, ejes y valores, se consolida como una evolución del Instituto Toks.
    </p>
    <a href="#" class="text-white underline font-semibold mt-2 inline-block">Conócenos</a>
  </div>

  <div class="relative h-[390px] md:h-full max-h-[380px] overflow-hidden bg-black text-white px-4 py-8 md:col-start-1 md:row-start-2">
    <h3 class="relative text-xl font-bold z-1">Aspirantes</h3>
    <p class="relative text-sm mt-2 z-1">La Universidad GRG está dirigida a personas comprometidas con su desarrollo profesional dentro del Grupo, interesadas en adquirir competencias clave, impulsar la innovación y responder con excelencia a los desafíos de un entorno cada vez más ágil y digital.</p>
    <a href="#" class="relative underline mt-2 inline-block z-1">Leer Más</a>
    <img src="/images/aspirantes.jpg" alt="" class="absolute inset-0 h-full w-full object-cover opacity-70" />
  </div>
  
  <div class="h-[390px] md:h-full bg-redGRG text-white px-4 py-8 md:col-start-2 md:row-start-2">
    <h3 class="text-xl font-bold">Oferta educativa</h3>
    <p class="text-sm mt-2">Con el propósito de que la Universidad GRG logre un verdadero impacto en el desarrollo profesional de nuestro equipo, se han creado Escuelas Especializadas que representan las prioridades del Grupo, permitiendo así un mejor enfoque y organización de los programas que se impartirán en cada una de las Escuelas Especializadas.</p>
    <a href="#" class="underline font-semibold mt-2 inline-block">Conoce nuestra oferta</a>
  </div>
  
  <div class="relative h-full max-h-[380px] overflow-hidden md:block md:col-start-3 md:row-start-2">
    <img src="/images/oferta_educativa.jpg" alt="Equipo" class="w-full h-full object-cover" />
  </div>
  
  <div class="h-[390px] md:h-full bg-redGRG text-white px-4 py-8 md:col-start-1 md:row-start-3 ">
    <h3 class="text-xl font-bold">Estudiantes</h3>
    <p class="text-sm mt-2">En la Universidad GRG acompañamos tu trayectoria de aprendizaje con programas diseñados para fortalecer tus habilidades, impulsar tu crecimiento profesional y brindarte herramientas prácticas que podrás aplicar de inmediato en tu entorno laboral. Eres protagonista de tu desarrollo, y estamos aquí para potenciarlo.</p>
    <a href="#" class="underline mt-2 inline-block">Ingresar al Campus</a>
  </div>
  
  <div class="relative h-[390px] md:h-full max-h-[380px] overflow-hidden md:col-start-2 md:row-start-3 md:col-span-2">
    <img src="/images/estudiantes.jpg" alt="Estudiantes" class="w-full h-full object-cover" />
  </div>
</section>


<section class="max-w-4xl mx-auto px-4 py-12">
  <img src="/images/logo-grg.png" alt="Logo GRG" class="mx-auto mb-6" />

  <h2 class="text-center text-2xl md:text-3xl font-semibold mb-4">
    Principios Estratégicos de la Universidad GRG
  </h2>

  <p class="text-center text-gray-600 max-w-2xl mx-auto mb-8 leading-relaxed">
    Los principios estratégicos, habilitan a la Universidad GRG para responder a nuestra visión, a una mirada de largo plazo, en el que nuestro compromiso con el desarrollo del talento es clave para alinear nuestras capacidades y procesos al reto de ofrecer experiencias extraordinarias a nuestros clientes que cada vez tienen más información, gustos más sofisticados, buscan productos personalizados, valoran la agilidad, atención y servicio en cada contacto y viven en un entorno de alta tecnología.
  </p>

  <!-- Acordeón -->
  <div class="space-y-4">

    <!-- Item 1 -->
    <div class="rounded overflow-hidden">
      <button 
        class="w-full flex justify-between items-center bg-gray-100 text-left font-semibold text-gray-800"
        onclick="toggleAccordion(event)"
      >
        <span class="flex items-center gap-2 py-4">
          <span class="text-yellow-400">▶</span>
          Ejes institucionales de la Universidad GRG
        </span>
        <span class="text-white bg-redGRG px-4 py-4 rounded text-sm">Leer Más</span>
      </button>
      <div class="px-4 py-3 text-gray-700 hidden">
        <!--  -->
      </div>
    </div>

    <!-- Item 2 -->
    <div class="rounded overflow-hidden">
      <button 
        class="w-full flex justify-between items-center bg-gray-100 text-left font-semibold text-gray-800"
        onclick="toggleAccordion(event)"
      >
        <span class="flex items-center py-4 gap-2">
          <span class="text-yellow-400">▶</span>
          Declaración del Propósito de la Universidad GRG
        </span>
        <span class="text-white bg-redGRG px-4 py-4 rounded text-sm">Leer Más 
          
        </span>
      </button>
      <div class="px-4 py-3 text-gray-700 hidden">
        <!--  -->
      </div>
    </div>

    <!-- Item 3 -->
    <div class="rounded overflow-hidden">
      <button 
        class=" w-full flex justify-between items-center bg-gray-100  text-left font-semibold text-gray-800"
        onclick="toggleAccordion(event)"
      >
        <span class="flex items-center gap-2 py-4">
          <span class="text-yellow-400">▶</span>
          Declaración de Misión de la Universidad GRG
        </span>
        <span class="text-white bg-redGRG px-4 py-4 rounded text-sm">Leer Más</span>
      </button>
      <div class="px-4 py-3 text-gray-700 hidden">
        <!--  -->
      </div>
    </div>

  </div>
</section>

<script>
  function toggleAccordion(event: { currentTarget: any; }) {
    const button = event.currentTarget;
    const content = button.nextElementSibling;

    // Cerrar todos
    document.querySelectorAll("section div > div").forEach((el) => el.classList.add("hidden"));

    // Alternar actual
    content.classList.toggle("hidden");
  }
</script>
