---
import IconoRojoBlanco from '../../public/images/icono_blanco_rojo.svg'
---

<div class="flex justify-between items-center">
    <IconoRojoBlanco/>
    <nav class="hidden lg:block">
        <ul class="flex gap-4 text-white py-[51px]">
            <li class="topbar-link">
                <a href="/">Inicio</a>                
            </li>
            <li class="topbar-link submenu-dropdown">Conocenos
                <div class="bg-gray-300 flex flex-col text-black absolute -left-[1rem] top-[4rem] w-max p-8 space-y-4 hidden dropdown">
                    <a class="block" href="/tecnologia">1 - De Tecnología y Ciencia de Datos</a>
                    <a href="/tecnologia">2 - De Tecnología y Ciencia de Datos</a>
                    <a href="/tecnologia">3 - De Tecnología y Ciencia de Datos</a>
                    <a href="/tecnologia">4 - De Tecnología y Ciencia de Datos</a>
                    <a href="/tecnologia">5 - De Tecnología y Ciencia de Datos</a>
                </div>
            </li>
            <li class="topbar-link submenu-dropdown">
                Escuelas
                <div class="bg-gray-300 flex flex-col text-black absolute -left-[1rem] top-[4rem] w-max p-8 space-y-4 hidden dropdown">
                    <a href="/tecnologia">1 - De Tecnología y Ciencia de Datos</a>
                    <a href="/alimentos">2 -Alimentos</a>
                    <a href="/servicio">3 - Servicio</a>
                    <a href="/desarrollo">4 - Desarrollo</a>
                    <a href="/liderazgo">5 - Liderazgo</a>
                </div>
            </li>
            <li class="topbar-link">Comunidad educativa</li>
            <li class="topbar-link">Contacto</li>
        </ul>
    </nav>
</div>





<script>
    document.addEventListener('DOMContentLoaded', () => {
        const DropdownsMenus = document.querySelectorAll('.submenu-dropdown')
        const Dropdowns = document.querySelectorAll('.dropdown')
        DropdownsMenus.forEach(dropdown => {
            dropdown.addEventListener('click', () => {
                Dropdowns.forEach(dd => {
                    dd.classList.add('hidden')
                })
                const DropdownItem = dropdown.querySelector('.dropdown')
                DropdownItem?.classList.toggle('hidden')
            })
        })
        document.addEventListener('click', (e) => {
            // 3. if the click target isn’t inside *any* dropdown…
            if (!e.target.closest('.submenu-dropdown')) {
                // …handle your “outside” click here
                console.log('Clicked outside all dropdowns!');
                // e.g. close all dropdowns
                Dropdowns.forEach(dd => dd.classList.add('hidden'));
            }
        });
    })
</script>