<div class="flex justify-between bg-black">
    <div></div>
    <nav>
        <ul class="flex gap-4 text-white py-[51px]">
            <li class="claseNormal">Inicio</li>
            <li>Conocenos</li>
            <li>Oferta educativa</li>
            <li>Comunidad educativa</li>
            <li>Contacto</li>
        </ul>
    </nav>
</div>