---
import PlayCircle from "../../assets/icons/Play-circle.svg"

---

<div class="w-full bg-redGRG text-white pt-[3rem] pb-[6rem] space-y-6">
    <h2 class="text-center text-64">Conoce el Campus Educativo</h2>
    <p class="text-center text-20">Todo lo que necesitas para aprender, en un solo lugar</p>
    <button class="call-to-actions-secondary uppercase  mx-auto flex gap-3 cursor-pointer" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-basic-modal" data-hs-overlay="#hs-basic-modal">tu campus en un clic <PlayCircle/></button>
</div>