<div class="bg-[#FCC306] hidden md:block">
    <div class="container mx-auto flex justify-around items-center py-4 text-xl font-semibold">
        <a href="./comunidadEscolar#calendarioCE" rel="noopener noreferrer">Calendario Estudiantil</a>
        <a href="https://www.gruporestauranterogigante.com.mx/vacantes" target="_blank" rel="noopener noreferrer" id="bolsa">Bolsa de Trabajo</a>
        <a href="./comunidadEscolar#noticiasCE" rel="noopener noreferrer">Noticias sobre universidad GRG</a>
    </div>
</div>