<div class="bg-[#FCC306] hidden md:block">
    <div class="container mx-auto flex justify-around items-center py-4 text-xl font-semibold">
        <a href="/licenciaturas/grg/comunidadEscolar#calendarioCE" rel="noopener noreferrer">Calendario Estudiantil</a>
        <a href="https://www.gruporestauranterogigante.com.mx/vacantes" target="_blank" rel="noopener noreferrer" >Bolsa de Trabajo</a>
        <a href="/licenciaturas/grg/comunidadEscolar#noticiasCE" rel="noopener noreferrer">Noticias sobre universidad GRG</a>
    </div>
</div>