<div class="bg-[#FCC306]">
    <div class="container mx-auto flex justify-around items-center py-4 text-xl font-semibold">
        <a href="" rel="noopener noreferrer">Calendario Estudiantil</a>
        <a href="" rel="noopener noreferrer">Bolsa de Trabajo</a>
        <a href="" rel="noopener noreferrer">Noticias sobre universidad GRG</a>
    </div>
</div>