<div class="container mx-auto">
    <div class="flex gap-8 mt-12">
        <div class="w-2/5 bg-redGRG text-white rounded-2xl px-[3rem] py-[2rem] space-y-8">
            <h3 class="text-[45px] font-semibold">Conferencia</h3>
            <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis quam eu dolor semper eleifend.</p>
            <p class="text-2xl font-semibold border-b-1 border-white inline-block">!Registrate Ahora!</p>
        </div>
        <div class="w-3/5 bg-redGRG text-white rounded-2xl px-[3rem] py-[2rem] space-y-2 text-right flex flex-col justify-end">
            <div class="">
                <h3 class="text-[45px] font-semibold">Graduaciones</h3>
                <p class="text-xl">Participa en la ceremonia oficial de egreso y reconoce el esfuerzo que te llevó hasta aquí.</p>
                <p class="text-2xl font-semibold border-b-1 border-white inline-block">Agregar a mi calendario!</p>
            </div>
        </div>
    </div>
    <div class="flex gap-8 mt-8">        
        <div class="w-3/5 bg-redGRG text-white rounded-2xl px-[3rem] py-[2rem] space-y-2 text-right flex flex-col justify-end">
            <div class="">
                <h3 class="text-[45px] font-semibold">Graduaciones</h3>
                <p class="text-xl">Participa en la ceremonia oficial de egreso y reconoce el esfuerzo que te llevó hasta aquí.</p>
                <p class="text-2xl font-semibold border-b-1 border-white inline-block">Agregar a mi calendario!</p>
            </div>
        </div>
        <div class="w-2/5 bg-redGRG text-white rounded-2xl px-[3rem] py-[2rem] space-y-8">
            <h3 class="text-[45px] font-semibold">Noticias</h3>
            <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis quam eu dolor semper eleifend.</p>
            <p class="text-2xl font-semibold border-b-1 border-white inline-block">Ver Más Noticias</p>
        </div>
    </div>
</div>