---
import TrofeoBlanco from '../../assets/icons/trofeo_blanco.svg'
import Educacion from '../../assets/icons/educacion_continua.svg'
import Servicios from '../../assets/icons/servicios.svg'


import TrofeoAmarrillo from '../../assets/icons/trofeo_amarillo.svg'

import ArrowBlanco from '../../assets/icons/Arrow_blanco.svg'
import ArrowNegro from '../../assets/icons/Arrow_negro.svg'
import ConsejeriaEstudiantil from '../../components/modales/ConsejeriaEstudiantil.astro'
import ControlEscolar from '../../components/modales/ControlEscolar.astro'
import CentroAtencion from '../../components/modales/CentroAtencion.astro'


---

<div>
    <div class="container mx-auto my-10" id="beneficios">
        <h3 class="text-64 text-grayGRG text-center font-semibold mb-6">Programas y <br><span class="text-redGRG">ofertas académicas</span></h3>
        <p class="text-xl text-center">Encuentra la opción ideal para tu desarrollo profesional, consulta todos los programas disponibles y comienza a prepararte para tu futuro académico y profesional.</p>

    </div>
    <div class="container mx-auto flex flex-col lg:flex-row">
        <div class="w-full lg:w-1/3 bg-[#F7F7F7] text-center pt-[70px] px-[70px] pb-[100px]">
            <Educacion class="inline-block mb-4"/>
            <h3 class="font-semibold uppercase text-3xl mb-14">Educación continua</h3>
            <div class="space-y-6">
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-black p-3 text-lg" href="https://agcollege.edu.mx/" target="_blank" rel="noopener noreferrer">AG College <ArrowNegro/></a>
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-black p-3 text-lg" href="https://umi.edu.mx/" target="_blank" rel="noopener noreferrer">Certificaciones UMI <ArrowNegro/></a>
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-black p-3 text-lg" href="" target="_blank" rel="noopener noreferrer">Otros programas <ArrowNegro/></a>
            </div>

        </div>
        <div class="w-full lg:w-1/3 bg-redGRG text-center pt-[70px] px-[70px] pb-[100px] text-white">
            <Servicios class="inline-block mb-4"/>
            <h3 class="font-semibold uppercase text-3xl mb-14">SERVICIOS</h3>
            <div class="space-y-6">
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-white p-3 text-lg" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalConsejeria" data-hs-overlay="#modalConsejeria">Consejería Estudiantil <ArrowBlanco/></a>
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-white p-3 text-lg" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalControlEscolar" data-hs-overlay="#modalControlEscolar">Control Escolar <ArrowBlanco/></a>
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-white p-3 text-lg" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalCentroAtencion" data-hs-overlay="#modalCentroAtencion">Centro de Atención <ArrowBlanco/></a>
            </div>
        </div>
        <div class="w-full lg:w-1/3 bg-[#F7F7F7] text-center pt-[70px] px-[70px] pb-[100px]">
            <TrofeoAmarrillo class="inline-block mb-4"/>
            <h3 class="font-semibold uppercase text-3xl mb-14">tus beneficios</h3>
            <div class="space-y-6">
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-black p-3 text-lg" href="" target="_blank" rel="noopener noreferrer">Otro Beneficio <ArrowNegro/></a>
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-black p-3 text-lg" href="" target="_blank" rel="noopener noreferrer">Otro Beneficio <ArrowNegro/></a>
                <a class="w-full block flex gap-3 justify-center mx-auto border-2 border-black p-3 text-lg" href="" target="_blank" rel="noopener noreferrer">Otro Beneficio <ArrowNegro/></a>
            </div>
        </div>
    </div>
</div>

<ConsejeriaEstudiantil/>
<ControlEscolar/>
<CentroAtencion/>